body{
  font-family:"Times New Roman", "Calibri Light", Arial;
  font-size: 120%;
}

h1{
  background-color: #18b3a2;
  text-align: center;
  font-family: cursive;
}

nav{
  background-color: greenyellow;
}

main{
  font-family: "Comic Sans MS",sans-serif,Dialog;
}

footer{
  background-color:greenyellow;
}

li{
  text-align: center;
  display:inline-block;
  width: 33%;
}

p{
  line-height: 500%;
}

a{
    text-decoration: none;
  color: black;
}
